# Ignore all data directories mapped to containers
*/srv/
*/*/srv/

# Ignore logs and state
**/*.log
**/*.jsonl

# Ignore user secrets and history in lifepods
lifepod/users/*/.*
!lifepod/users/*/.gitkeep

# Ignore herpetarium
herpetarium/

# OS files
.DS_Store
